body {
    background-image: url("pictures/back.jpg");
    margin: 2rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
#logo img {
    height: 7rem;
  }
nav a {
    font-size: 1.1em;
    text-decoration: none;
    color: #3b4205;
    padding: 0 1rem;
    margin-right: 2rem;
  }
.box-one {
    border-radius: 25px;
    background-color: #F1E9DE;
    padding: 0.4rem;
    margin: 0.1rem;
    border: 2px solid #C98369;
}
.image-box {
    border-radius: 25px;
    background-color: #F1E9DE;
    padding: 0.4rem;
    margin: 0.1rem;
    border: 2px solid #C98369;
    height: 15rem;
    width: 20rem;
    text-align: center;
    display: inline-block;
}
.image-box img {
    max-height: 10rem;
    margin: auto;
    display: block;
}
.top-sell {
    border-radius: 25px;
    background-color: #F1E9DE;
    padding: 0.4rem;
    margin: 0.1rem;
    border: 2px solid #C98369;
    width: 20rem;
    text-align: center;
}
.pack-box {
    display: flex;
    margin: 2rem;
}
.pack-box div:first-child {
    flex: 3;
}
.pack-box div:last-child {
    flex: 1;
}
form {
    text-align: center;
    padding: 1rem;
}
#input-text, #input-email{
    border-radius: 25px;
    height: 2rem;
    width: 25rem;
    border: 2px solid #C98369;
}
#input-text {
    border-radius: 25px;
    height: 2rem;
    width: 25rem;
    border: 2px solid #C98369;
}